* {
    margin: 0;
    padding: 0;
}
body{background-color: black;}
.box {
    background: rgb(255, 255, 255);
    height: 100%;

    max-width: 500px;
    padding: 10px;
}

.most-sell-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.most-sell-container-item img {
    width: 210px;
}