/* Global Styles */
body {
    max-width: 500;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#bio {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#powers ul {
    list-style-type: none;
    padding: 0;
}

#powers ul li {
    background-color: #000000;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item img {
    width: 100%;
    max-width: 670px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
html{color: #333;}