* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



#mainid {
    background-color: rgb(0, 0, 0);
    max-width: 1600px;
    height: 800px;
    margin: 0 auto
}



body {
    background: #fff;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131921;
    color: white;
}

main {
    background-color: brown;
}

.location {
    font-size: 12px;
    margin-right: 20px;
}


.search button {
    border: none;
    background: #febd69;
    width: 45px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.menu-item {
    font-size: 12px;
    line-height: 1.2;
}

.menu-item strong {
    font-size: 14px;
}

.cart {
    font-size: 14px;
    font-weight: bold;
}

