* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#link:link {
    color: brown;
}

#visited:visited {
    color: aquamarine;
}

#active:active {
    color: blueviolet;
}

#hover:hover {
    color: antiquewhite;
}

a {
    text-decoration: none;
}

table {
    border: 1px solid black;
    background-color: black;
}

th,
td {
    padding: 3px;
    background-color: black;
}
/*
tr :first-child {
    background-color:rgb(139, 0, 139);
    width: 3px;
}

tr :nth-child(2) {
    background-color:rgb(255, 248, 220);
    width: 3px;
}

tr :nth-child(3) {
    background-color:rgb(255, 255, 255) ;
    width: 3px;
}
*/
tr:last-child { 

    background-color: aqua;
    width: 3px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgb(243, 243, 243); 
}

table, th, td {
    border: 1px solid rgb(221, 221, 221); 
}

th, td {
    padding: 15px;
    text-align: left;
}


th {
    background-color: rgb(245, 245, 245); 
}


tr:nth-child(even) {
    background-color: rgb(221, 221, 221); 
}


th:first-child {
    border-left: 3px solid rgb(1, 152, 122); 
}

td:first-child {
    border-left: 3px solid rgb(1, 152, 122); 
}