.container {
    position: relative;
    width: 100vw;  
    height: 100vh; 
  }
  
  .box {
    width: 400px;
    height: 400px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    position: absolute;
  }
  

  .top-left {
    top: 0;
    left: 0;
  }
  
  .top-right {
    top: 0;
    right: 0;
  }
  
  .bottom-left {
    bottom: 0;
    left: 0;
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
  }
  

