* {
    margin: 0;
    padding: 0;
    border-radius: 0%;
}


body {
    background-image: url(./assets/photos/470677817_1137693104636317_8104463958349907046_n.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    
    height: 30px;
    background-position:0% ;
}

p {
    color: azure;
}

h1 {
    color: brown;
}

.image-container {
    background-image: url(./assets/photos/image.png);
    border: 2px solid;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-top: auto;
    width: 300px;
    height: 100px;
}