* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(./assets/image/image.png);
    background-size: 100%;
}

body {
    font-family: 'Roboto';
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}
