* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display:  grid;
    /*
     grid-template-columns: 1fr 1fr 1fr 1fr; === grid-template-columns: repeat(4, 1fr);
    
    */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px ;
    height: 500px;
}
.grid-container div {
    background-color: #66d8cd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
}
.box-1{
    grid-column: 1;
    grid-row:  1 / 4 ; 
}
.box-2     {
    grid-column: 2 / 4;
}
/* , means ყველა ელემენტს ქონდეს ერთი დაიგივე სტილი */
#box-3 , #box-5, #box-7    {
    background-color: #deebf9;
}

.box-6{
    grid-column: 4;
    grid-row: 2 / 4;
}