<<<<<<< HEAD
.jj{display: flex;
    justify-content: space-between;}
.box{background-color: black;
=======
.jj{display: flex;
    justify-content: space-between;}
.box{background-color: black;
>>>>>>> 6e20b377242625f56bcb2b417814326dfb65b20f
width: 50px;}