body {
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  
  .ball {
    width: 50px;
    height: 50px;
    background-color: #ff4500;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 0;
    animation: moveBall 3s ease-in-out infinite alternate;
  }
  
  @keyframes moveBall {
    from {
      left: 0;
    }
    to {
      left: calc(100% - 50px);
    }
  }
  