@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{margin: 0;
padding: 0;
box-sizing: border-box;}


:root{
	--teal-500: hsl(179, 62%, 43%);
	--green-400: hsl(71, 73%, 54%);
	--teala-100: hsl(204, 43%, 93%);
	--gray-500: hsl(218, 22%, 67%);
}



