* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.qq {
    display: flex;
    gap: 20px;
    height: 400px;
}

.ww {
    width: 35%;
    background: #ff7b7b;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ee {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rr {
    height: 45%;
    background: #baff66;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tt {
    height: 55%;
    display: flex;
    gap: 20px;
}

.yy {
    width: 65%;
    background: #ffb3ff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.uu {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ii,
.oo {
    height: 50%;
    background: #9fa8ff;
    display: flex;
    align-items: center;
    justify-content: center;
}