@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');


body{background-color: limegreen;}
.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-size: 59px;
  font-weight: 400;
  font-style: normal;
  font-style: oblique 40deg;
}
