* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gbarkalaia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gg {
    border: 4px solid black;
    background-color: brown;
    width: 300px;
    height: 300px;
}