*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(./image.png);
    background-size: 100%;
    padding: 20px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(1/2fr);
    grid-template-rows: repeat(1/2fr);
    gap: 15px;
    height: 600px;
}

.box-1{
    grid-column: 1 / 4;
    grid-row: 1;
    background: #7a5cff;
}

.box-2 {
    grid-column: 1;
    grid-row: 2 / 4;
    background: #2fb8ad;
}

.box-3 {
    grid-column: 2 / 4;
    grid-row: 2;
    background: #3f7cff;
}

.box-4 {
    grid-column: 2;
    grid-row: 3;
    background: #3f7cff;
}

.box-5{
    grid-column: 3;
    grid-row: 3;
    background: #3f7cff;
}

.footer {
    grid-column: 1 / 4;
    grid-row: 4;
    background: #8a78e6;
}
