
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #fff;
}

.header {
    display: flex;
    align-items: center;
    background: #131921;
    color: white;
}



.location{
    font-size: 12px;
    line-height: 1.2;
    margin-right: 20px;
}

.search {
    flex: 1;
    display: flex;
    height: 38px;
}
.search select {
    border: none;
    background: #e6e6e6;
    padding: 0 8px;
}
.search input {
    flex: 1;
    border: none;
    padding: 0 10px;
}
.search button {
    border: none;
    background: #febd69;
    width: 45px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.menu-item {
    font-size: 12px;
    line-height: 1.2;
}

.menu-item strong {
    font-size: 14px;
}

.cart {
    font-size: 14px;
    font-weight: bold;
}
