body {
   
   background-color: #1abc9c;
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
  }
  
  header {
    background-color: #2c3e50;
    padding: 20px;
    color: white;
    text-align: center;
  }



 

  nav a:hover {
    background-color: #1abc9c;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .card {
    width: 250px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    background-size: cover;
    background-position: center;
  }

  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 16px;
  }

  footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
